* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.form-container {
    width: 320px;
    margin: 0 auto;
    padding: 10px 25px;
    border: 1px solid #ccc;
}

.form-row {
    margin: 10px 0;
    width: 100%;
}

.form-row label {
    display: inline-block;
    width: 31%;
}

.form-row input {
    padding: 3px;
    width: 67%;
}

.form-button {
    width: max-content;
    margin: 0 auto;
}

.form-button > button {
    padding: 2px 8px;
    margin: 0 10px;
}