* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*
#53c2b2 - green
#f4b836 - orange
#dfdce3 - gray
*/

body {
  background: #eee;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

.header {
  background: #53c2b2;
  border-radius: 5px;
  height: 300px;
  color: #fff;
  text-align: center;
  padding-top: 30px;
}

.header p {
  padding-top: 25px;
}

.header ul {
  margin-top: 20px;
  list-style: none;
}

.header ul li {
  display: inline;
}

.header ul li a,
.login-form button {
  background: #f4b836;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 8px;
  font-weight: 600;
  text-decoration: none;
}

.login-form {
  background: #fff;
  padding: 20px;
}

.login-form form {
  width: 250px;
  margin: 0 auto;
}

.login-form label {
  padding: 10px 0;
}

.login-form input {
  padding: 10px;
  width: 250px;
  font-size: 15px;
}

.login-form button {
  margin-top: 10px;
  margin-left: 40px;
}
